
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #009CF0;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1;
    transition: 0.3s;
    &.button--small {
        padding: 10px 15px;
        font-size: 14px;
    }
    &.button--gray {
        background: #eaeaea;
        color: #121212;
    }
}